.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery li {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
